<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Product List</title>
  <th:block th:replace="~{layout::link-css}"></th:block>
  <th:block th:replace="~{layout::custom-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<main>
  <section class="container mt-3">
    <h1>Error 405: Method Not Allowed</h1>
    <p>The HTTP method used is not allowed for this URL. Please check the URL and try again with the correct method.</p>
    <a href="/home" class="btn btn-primary">Go to Home Page</a>
  </section>
</main>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>
